body{
  font-family: monospace;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  font-size: 2.5vw;
  margin-left:  2vw;
  margin-right: 2vw;
  overflow: hidden;
}

@media (max-width: 800px) {
  body{
    font-size: 2vh;
  }
}


.view{
  width: 100%;
  min-height: calc(100% - 2.5vw);
  max-height: calc(100% - 2.5vw);
  height:     calc(100% - 2.5vw);
  overflow: auto;
}
@media (max-width: 800px) {
  .view{
    min-height: calc(100% - 3vh);
  }
}

.controls{
  width: 100%;
  height: 3vw;
  display: flex;
  justify-content: space-between;
  bottom: 0;
  position: absolute;
}
@media (max-width: 800px) {
  .controls{ height: 3vh;}
}

.center{
  text-align: center;
}
